% Generated metadata -- regenerated every run.
% elsarticle front matter: this file is \input AFTER \begin{document} (see the
% emitter's main.tex), and \end{frontmatter} runs \maketitle itself.
\begin{frontmatter}
\title{\VAR{meta.title}}
%% for author in meta.authors
%% if author.affiliations and author.corresponding
\author[\VAR{author.affiliations|join(',')}]{\VAR{author.name}\corref{cor1}}
%% elif author.affiliations
\author[\VAR{author.affiliations|join(',')}]{\VAR{author.name}}
%% elif author.corresponding
\author{\VAR{author.name}\corref{cor1}}
%% else
\author{\VAR{author.name}}
%% endif
%% if author.email
\ead{\VAR{author.email}}
%% endif
%% endfor
%% for aff in meta.affiliations
\affiliation[\VAR{loop.index0}]{organization={\VAR{aff.name}}}
%% endfor
%% if meta.authors|selectattr('corresponding')|list
\cortext[cor1]{Corresponding author}
%% endif
%% if meta.abstract
\begin{abstract}
\VAR{meta.abstract}
\end{abstract}
%% endif
%% if meta.keywords
\begin{keyword}
\VAR{meta.keywords|join(' \\sep ')}
\end{keyword}
%% endif
\end{frontmatter}
